<h1>Edit Weekly Matches</h1>
<%= form_for(@matchEntryArray, :url => match_week_path, :html => {:method => :put}) do |f| %>
    <%= render 'form' %>
    <%= f.submit "Save" %>
    <%= f.submit "Cancel" %>
<% end %>