<h1>Create Weekly Matches</h1>
<%= form_for(@matchEntryArray, :url => match_weeks_path, :html => {:method => :post}) do |f| %>
    <%= render 'form' %>
    <%= f.submit "Save" %>
    <%= f.submit "Cancel" %>
<% end %>